# ignore cmake output directories
/build/*
/out/*

# Visual studio cache folder
/.vs

# Visual studio code stuff
.vscode/settings.json
.vscode/logs/*

# Logs
apps/importance_sampling_rt/logs/*

# any dll
**/*.dll
