[submodule "sdl2"]
	path = third_party/sdl2
	url = https://github.com/libsdl-org/SDL
	branch = release-2.26.x
[submodule "vma"]
	path = third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vkbootstrap"]
	path = third_party/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "tinygltf"]
	path = third_party/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "tinyexr"]
	path = third_party/tinyexr
	url = https://github.com/syoyo/tinyexr
[submodule "imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "nameof"]
	path = third_party/nameof
	url = https://github.com/Neargye/nameof
