# ignore cmake output directories
/build/*
/out/*

# Visual studio cache folder
/.vs

# Visual studio code stuff
.vscode/settings.json
.vscode/logs/*

# Logs
apps/importance_sampling_rt/logs/*
logs/

# .spirv compiled shader files
*.spv

# any dll
**/*.dll

# temporary symbolic link to glTF-Sample-Models/2.0
apps/importance_sampling_rt/models/glTF-Sample-Models
apps/importance_sampling_rt/models/glTF-Sample-Models/*

# Packed SpirV header files
*.spv.h

# Doxygen Output
/docs/